body, h1, h2, h3, h4, button {
  font-family: Helvetica,Arial,sans-serif;
}
*:focus {
  outline: 0;
}
button {
  background: #777;
  border-radius: 5px;
  border: 0;
  color: #fff;
  padding: 5px 10px;
  margin: 10px 0 10px 0;
}
button:hover {
  background: #1F75FE;
}
.violet-blue {
  color: #1F75FE;
}